<div ng-cloak>
    <div class="row">
        <div class="col-md-12" ng-init="clicked = 'false'" >
            <h1 data-translate="home.title">Welcome, Coocotte</h1>
            <p class="lead" data-translate="home.subtitle">The connecting chicken</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>
            </div>

            <div>
              <div ng-repeat="art in vm.articles" class="al">
                <button type="button" class="btn btn-primary" ng-click="clicked = 'false'" ng-show="clicked == 'true'">Retour aux articles</button>
                <div ng-show="clicked == 'true'" >
                  <h1>{{ art.title }}</h1>
                  <p ng-bind-html="art.content"></p>
                </div>
                <div layout="row" ng-hide="clicked == 'true'" >
                  <div flex ng-click="clicked = 'true'" class="cursor-pointer">
                    <md-card>
                      <img ng-src="content/images/launch_project.jpg" class="md-card-image" alt="lancement du projet">
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline" data-translate="home.startproject">{{ art.title }}</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                          <md-icon>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          </md-icon>
                        </md-button>
                      </md-card-actions>
                      <md-card-content>
                        <p>
                          {{ art.summary }}
                        </p>
                      </md-card-content>
                    </md-card>
                  </div>

                  <div flex>
                    
                  </div>
                </div>
              </div>
            </div>            
        </div>
    </div>
</div>